.faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';\
        float: right;
        font-size: 18px;
        line-height: 22px;
    }
	
	.panel-title a {
		display: block;
	}